<% content_for :heading, "Verified" %>

<div class="success">
  <p>Phone number <strong>+<%= @phone %></strong> has been verified.</p>
  <p><%= link_to "Verify another number", root_path %></p>
</div>
